body * {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    background-color: rgb(246, 248, 247);
    color: darkslategray;
}

a {
    text-decoration: none;
    color: white;
}

.nav-bar {
    padding-left: 60px; 
    padding-right: 60px;
    display: fixed;
    border-bottom: 1px solid lightslategray;
    top: 0;
    left: 0;
    align-items: center;
}

nav {
    height: 60px;
    background-color: darkolivegreen;
    position: fixed;
    width: 100%;
}

nav ul {
    display:inline-block;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 30px;
}

nav a:hover {
    color: palevioletred;
}

.contact {
    background-color: palevioletred;
    border: 1px;
    border-radius: 3px;
    padding: 8px;
}

.contact:hover {
    color: darkolivegreen;
}

main {
   display: flex;
   flex-flow: row wrap;
   height: 800px;
   width: 75%;
   margin: auto;
}

main>h2 {
    margin-top: 80px;
    color: palevioletred;
}

.intro {
    padding-top: 80px;
    margin: auto;
    width: 75%;
}

.fur-babes {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 75%;
}

.main-pic {
    border: 1px solid darkslategray;
    height: 200px;
    width: 175px;
    border-radius: 3px;
    margin:  0px 20px 20px 0px;
    float: left;
}

.cat-pic {
    border: 1px solid darkslategray;
    border-radius: 3px;
    height: 300px;
    width: 400px;
    margin: 5px 20px 50px 0px;
    float: left;
}

h2, h3 {
    color: palevioletred;
}