body * {
    font-family: "Roboto", sans-serif;
}

.item1 {
    grid-area: nav;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    border-bottom: 1px solid lightslategray;
    background-color: teal;
    z-index: 8;
}
.item2 {
    grid-area: main;
    line-height: 22px;
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 6;
}
.item3 {
    grid-area: footer;
    display: flex;
    background-color:teal;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}

.body-container {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    'nav nav nav nav nav nav'
    'main main main main main main'
    'main main main main main main'
    'footer footer footer footer footer footer';
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

a {
    text-decoration: none;
    color: white;
}

p {
    display: inline;
}

ul {
    display: flex;
    justify-content: space-evenly;

}

li {
    padding: 10px;
    list-style: none;
}

.li4 {
    background-color: orange;
    border-radius: 3px;
}

.li4 a {
    color: black;
}

.item1 a:hover {
    color: black;
}

.li4 a:hover {
    color: darkolivegreen;
}

body {
    background-color: lightyellow;
    color: darkslategray;
}

.main-pic {
    border: 1px solid darkslategray;
    height: 200px;
    width: 175px;
    border-radius: 150%;
}


main>h2 {
    margin-top: 80px;
}

.intro {
    margin: auto;
    width: 75%;
}

.fur-babes {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 75%;
}

main>p {
    min-width: 100px;
}

.main-pic {
    border: 1px solid darkslategray;
    height: 200px;
    width: auto;
    border-radius: 3px;
    margin:  0px 20px 10px 0px;
    float: left;
}

.cat-pic {
    border: 1px solid darkslategray;
    border-radius: 3px;
    height: 300px;
    width: auto;
    margin: 10px 20px 10px 0px;
    float: left;
}

h2, h3 {
    color: teal;
}


@media screen and (max-width: 500px) {

    ul {
        justify-content: space-evenly;
        padding: 3px;
        text-align: center;
    }

    .li4 {
        background-color: teal;
    }

    .li4 a {
        color: white;
    }

    .item1 {
        text-align: center;
    }

    .item2 {
        width: minmax(60px, 500px);
    }

    .cat-pic, .main-pic {
        height: auto;
        width: 220px;
        display: block;
        float: none;
    }

    .item3 {
        display: none;
    }

}

@media screen and (min-width: 500px) and (max-width: 1000px) {

    .item2 {
        max-width: 450px;
        justify-self: flex-start;
        text-align: left;
    }

    ul {
        justify-content: center;
    }

    .item1 {
        text-align: center;
    }

    li {
        margin-right: 20px;
    }
    
    p {
        display: inline;
    }

    img {
        display: block;
        float: none;
    }
}