body * {
    display: grid;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    height: 60px;
    padding-left: 60px; 
    padding-right: 60px;
    border-bottom: 1px solid lightslategray;
    background-color: darkolivegreen;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul {
    display:inline-block;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 30px;
}

nav a:hover {
    color: palevioletred;
}

body {
    background-color: rgb(246, 248, 247);
    color: darkslategray;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
 
}

header>h1 {
    margin-bottom: 5px;
    margin-top: 10px;
    color: palevioletred;
    font-size: 45px;
    font-weight: 2;
    text-shadow: 1px 1px 1px black ;
}

header>p {
    margin-top: 5px;
    width: 50%;
    font-size: 15px;
}

main {
    margin: auto;
    text-align: left;
    line-height: 22px;
    width: 55%;
}

.main-pic {
    border: 1px solid darkslategray;
    height: 200px;
    width: 175px;
    border-radius: 150%;
    margin-top: 80px;
    margin-bottom: 50px;
}

.contact-link {
    color: palevioletred;
}

.contact-link:hover {
    color: darkolivegreen;
}

.contact {
    background-color: palevioletred;
    border: 1px;
    border-radius: 3px;
    padding: 8px;
}

.contact:hover {
    color: darkslategray;
}