body * {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: rgb(5, 5, 5);
}

.nav-bar {
    padding-left: 60px; 
    padding-right: 60px;
    display: fixed;
    border-bottom: 1px solid lightslategray;
    top: 0;
    left: 0;
}

nav {
    height: 60px;
    background-color: rgb(248, 247, 247);
    position: fixed;
    width: 100%;
}

nav ul {
    display:inline-block;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 30px;
}

nav a:hover {
    color: peru;
}

body {
    background-color: white;
    color: black;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
 
}

header>h1 {
    margin-bottom: 5px;
    color: peru;
}

header>p {
    margin-top: 5px;
    width: 55%;
}

main {
    margin: auto;
    text-align: left;
    width: 55%;
}

.main-pic {
    border: 1px solid black;
    height: 200px;
    width: 175px;
    border-radius: 3px;
    margin-top: 80px;
}

.contact-link {
    color: peru;
}