body * {
    font-family: "Roboto", sans-serif;
}

.item1 {
    grid-area: nav;
    border-bottom: 1px solid lightslategray;
    background-color: darkolivegreen;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.item2 {
    grid-area: header;
    text-align: center;
    width: minmax(100px, 500px);
}
.item3 {
    grid-area: main;
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 6;
}
.item4 {
    grid-area: footer;
    display: flex;
    background-color:darkolivegreen;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}

.body-container {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    'nav nav nav nav nav nav'
    'header header header header header header'
    'main main main main main main'
    'main main main main main main'
    'footer footer footer footer footer footer';
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    padding: 10px;
    list-style: none;
}

.li4 {
    background-color: palevioletred;
    border-radius: 3px;
}

.li4 a:hover {
    color: darkolivegreen;
}

nav a:hover {
    color: palevioletred;
}

body {
    background-color: rgb(246, 248, 247);
    color: darkslategray;
}


header>h1 {
    color: palevioletred;
    font-size: 45px;
    font-weight: 2;
    text-shadow: 1px 1px 1px black ;
}

header>p {
    font-size: 15px;
}

main {
    line-height: 22px;
}

.main-pic {
    border: 1px solid darkslategray;
    height: 200px;
    width: 175px;
    border-radius: 150%;
}

.contact-link {
    color: palevioletred;
}

.contact-link:hover {
    color: darkolivegreen;
}

.contact {
    background-color: palevioletred;
    border: 1px;
    border-radius: 3px;
}